<div>
    <table class="table table-striped" id="workerTable">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Marque</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for material in paginationMaterials %}
            <tr>
                <td>{{ material.name | capitalize }}</td>
                <td>{{ material.brand | capitalize }}</td>
                {% if material.getOnSite == NULL %}
                    <td style="color: #718C00">Disponible</td>
                {% else %}
                    <td style="color: #C82829">Loué</td>
                {% endif %}
                {% if is_granted("ROLE_RESP_MATERIEL") %}
                    <td class="tdBtnLink">
                        <div>
                            <a href="{{ path('materials_edit', {
                                id:material.id}) }}"
                               class="btn btn-primary btn-sm">Éditer</a>
                        </div>
                    </td>
                    <td class="tdBtnLink">
                        <form method="post"
                              action="{{ path('materials_remove',
                                  {id:material.id}) }}"
                              onsubmit="return confirm(
                                  'Êtes-vous sûr(e) de vouloir supprimer ce ' +
                                   'matériel ?' );">
                            <input type="hidden" name="_method"
                                   value="DELETE">
                            <input type="hidden" name="_token"
                                   value="{{ csrf_token(
                                       'delete' ~ material.id) }}">
                            <button class="btn btn-outline-danger btn-sm"
                                    id="eraseWord"
                                    type="submit">
                                Supprimer
                            </button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination pagination-sm justify-content-center">
        {{ knp_pagination_render(paginationMaterials) }}
    </div>
</div>