{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-2">
        <h3 class="text-center mt-4">Éditer le chantier</h3>
        <div id="formAddWorker">
            {{ form_start(formEdit) }}
            {{ form_row(formEdit.name) }}

            {{ form_row(formEdit.submit, { 'label': 'Modifier' }) }}
            {{ form_end(formEdit) }}
            <div class="mt-5">
                <form method="post"
                      action="{{ path('constructionSites_editManager',
                          {id: site.id}) }}">
                    <label>Ajouter un chef de chantier</label>
                    <select name="managerId" class="form-control">
                        {% if managersAvailable|length == 0 %}
                            <option value="">
                                Aucun chef de chantier disponible.
                            </option>
                        {% else %}
                            {% for manager in managersAvailable %}
                            <option value="{{ manager.id }}">
                                {{ manager.firstName ~ ' ' ~ manager.lastName }}
                            </option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    <input type="hidden" name="_token"
                           value="{{ csrf_token('update' ~ site.id) }}">
                        <button class="btn btn-primary mt-4"type="submit">
                            Ajouter ce chef de chantier
                        </button>
                </form>
            </div>
            <div class="mt-3">
                <form method="post"
                      action="{{ path('constructionSites_removeManager',
                          {id: site.id}) }}">
                    <label>Enlever un chef de chantier</label>
                    <select name="managerId" class="form-control">
                        {% if siteManager|length == 0 %}
                            <option value="">
                                Aucun chef de chantier affilié.
                            </option>
                        {% else %}
                            {% for manager in siteManager %}
                                <option value="{{ manager.id }}">
                                    {{ manager.firstName ~ ' ' ~ manager.lastName }}
                                </option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    <input type="hidden" name="_method"
                           value="DELETE">
                    <input type="hidden" name="_token"
                           value="{{ csrf_token('remove' ~ site.id) }}">
                    <button class="btn btn-outline-danger mt-4"type="submit">
                        Retirer ce chef de chantier
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}